/nbproject/private/
/Makefile
/Makefile.in
/aclocal.m4
/config.log
/config.sub
/configure
/config.guess
/config.h
/config.h.in
/config.status
/install-sh
/missing
/depcomp
/libtool
/stamp-h1
/ltmain.sh
/autom4te.cache/
/src/.libs/
/apps/Makefile
/apps/Makefile.in
/doc/Makefile
/doc/Makefile.in
/doc/local/Makefile
/doc/local/Makefile.in
/doc/pics/Makefile
/doc/pics/Makefile.in
/tests/Makefile
/tests/Makefile.in
/apps/vinalc
/doc/Doxyfile
/doc/html/
/src/Makefile
/src/Makefile.in
