/nbproject/private/
/autom4te.cache/
/Makefile
/Makefile.in
/aclocal.m4
/config.log
/config.sub
/configure
/config.guess
/config.h
/config.h.in
/config.status
/install-sh
/depcomp
/libtool
/ltmain.sh
/missing
/stamp-h1
/src/Makefile
/src/Makefile.in
/doc/Makefile.in
/doc/Makefile
/doc/Doxyfile
/apps/Makefile
/apps/Makefile.in
/apps/vinalc
/tests/Makefile
/tests/Makefile.in
/src/.libs/
